@use "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$background: #1d2021;
$foreground: #ebdbb2;

// Black + DarkGrey
$color0: #282828;
$color8: #928374;

// DarkRed + Red
$color1: #cc241d;
$color9: #fb4934;

// DarkGreen + Green
$color2: #98971a;
$color10: #b8bb26;

// DarkYellow + Yellow
$color3: #d79921;
$color11: #fabd2f;

// DarkBlue + Blue
$color4: #458588;
$color12: #83a598;

// DarkMagenta + Magenta
$color5: #b16286;
$color13: #d3869b;

// DarkCyan + Cyan
$color6: #689d6a;
$color14: #8ec07c;

// LightGrey + White
$color7: #a89984;
$color15: #ebdbb2;

body {
  background-color: $background;
  color: $foreground;
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 50%;
  min-height: 300px;
  padding: 5px;
  border: 5px solid $color8;
  background-color: #282828;

  .output {
    display: flex;
    justify-content: space-between;
    * {
      flex-grow: 1;
    }
  }

  a {
    color: $foreground;
  }

  ul {
    list-style: none;
    margin: 18.4px 0;
    padding: 0;
  }
}

#search {
  margin: 0;
  padding: 0;
  display: inline;
  input {
    background-color: transparent;
    border: none;
    color: $foreground;
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    margin-left: 9px;
    &:focus {
      border: none;
    }
  }
}

.black {
  color: $color0;
}

.dark_grey {
  color: $color8;
}

.dark_red {
  color: $color1;
}

.red {
  color: $color9;
}

.dark_green {
  color: $color2;
}

.green {
  color: $color10;
}

.dark_yellow {
  color: $color3;
}

.yellow {
  color: $color11;
}

.dark_blue {
  color: $color4;
}

.blue {
  color: $color12;
}

.dark_magenta {
  color: $color5;
}

.magenta {
  color: $color13;
}

.dark_cyan {
  color: $color6;
}

.cyan {
  color: $color14;
}

.light_grey {
  color: $color7;
}

.white {
  color: $color15;
}
